<h1>Time Attack Experiment</h1>
<% if current_applicant %>
  Logged in as <%= current_applicant.name %>. <br>
  <%= link_to 'View all properties', properties_path %><br>
  <%= link_to 'View my applications', applications_path %><br>
  <%= link_to "Logout", logout_path %>
<% elsif current_agent %>
  Logged in as <%= current_agent.name %>. <br>
  <%= link_to 'View all properties', properties_path %><br>
  <%= link_to 'View all applications', applications_path %><br>
  <%= link_to "Logout", logout_path %>
<% elsif current_admin %>
  Logged in as <%= current_admin.name %>. <br>
  <%= link_to 'View all properties', properties_path %><br>
  <%= link_to 'View all leasing agents', leasing_agents_path %>
  <%= link_to 'View all applicants', applicants_path %><br>
  <%= link_to 'View all applications', applications_path %><br>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "User1 Signup", signup_path %> or
  <%= link_to "User1 Login", login_path %>   <br>
  <%= link_to "User2 Login", agent_login_path %> <br>
  <%= link_to "Admin Login", admin_login_path %>
<% end %>
